{
  "user_token": "2_YOUR_TOKEN_HERE",
  "jitter": 5e-05,
  "image_path": "dorm.jpg",
  "image_dir": null,
  "image_upload_enabled": false,
  "base_url": "http://stuhtapi.fafu.edu.cn",
  "heartbeat_interval": 900,
  "sign_delay_min": 900,
  "sign_delay_max": 2700,
  "log_level": "INFO",
  "notification_enabled": false,
  "serverchan_key": null,
  "task_keywords": [
    "晚归"
  ],
  "latest_image_dir": null
}
